
<footer class="footerbar">
     <hr class="divider primary-color">         
    <div class="footer-grid">
        <div class="left">
            <ul class="contact">
                {# Should be an include in mailto:, probably defined in global data. #}
                <li><a href="mailto:tobias.ahlqvist@gritacademy.se">tobias.ahlqvist@gritacademy.se</li>
                
            </ul>
        </div>
        <div class="right">
            <ul class="socials">
                <li><a href="https://github.com/toqvist"><i class="fab fa-github"></a></i></li>
            </ul>
        </div>
    </div>

</footer>