<nav class="navbar">
    <div class="left">
        <a href="/"><strong class="logo-text">T.M.AHLQVIST</strong></a>
    </div>
    <div class="center">
        <a href="/about">
            <button class="face-button">
                {% if face %}
                <img  id="face" src="/img/focused.svg" alt="">
                {% else %}
                <i class="fas fa-arrow-down"></i>
                {% endif %}
            </button>
        </a>
    </div>
    <div class="right">
        <a href="/about" class="about navbar-link">About</a>
        <a href="/contact" class="contact navbar-link">Contact</a>
    </div>
</nav>