{% extends "base.njk" %}
{% block headercontent %}
    <header class="hero">
        <h1>{{ prompt }}</h1>
    </header>
{% endblock %}
{% block pagecontent %}
    <div class="contact-form-wrapper">
        <section class="contact-form">
            <form action="mailto:tobias.ahlqvist@gritacademy.se" method="post" enctype="text/plain">
        
                <div>
                    <label for="name">Name: <input type="text" name="name" id="name" class="input-text"/>
                    </label>
                </div>
        
                <div>
                    <label for="email">Email: <input type="text" name="email" id="email" class="input-text"/>
                    </label>
                </div>
        
                <div>
                    <label for ="message"> Message
                    <textarea name="message" rows="10" cols="27" class="message-box"></textarea>
                    </label>
                </div>
        
                <div><button class="form-submit"><input type="submit" name="submit" value="Send"/></button></div>
        
            </form>
        </section>
    </div>
                    {% endblock %}