{% extends "base.njk" %}

{% block headercontent %}
<header class="hero">
        <h1 class="greeting"><strong>Hello!</strong></h1>

        <h1 class="i-am">I'm Tobias</h1>
        
</header>
{% endblock %}

{% block pagecontent %}
    
    {# Move header into section #}
    <h2 class="projects-header">Here are some of my projects</h2>
    <hr class="divider gray">
    <section class="projects-wrapper">

        <div class="projects">

            {% for project in collections.projects %}

            <a href="{{ project.url }}" class="card">
                <div class="project-card">
                    <h3 class="card-title">{{ project.data.title }}</h3>
                    <img width="300px" height="200px" src="{{ project.data.img }}" alt="">  
                </div>
                
            </a>
            
            {% endfor %}
        </div>
    </section>

    
{% endblock %}