{% extends "base.njk" %}

{% block pagecontent %}
    
    <header class="hero">
        <h1>Hello!</h1>
        <h2>I'm Tobias</h2>
    </header>
    
    <div class="main-wrapper">
        
        <main class="page-content">
            
            {# Move header into section #}
            <h2 class="projects-header">Here's some of my projects.</h2>
            <section class="projects-wrapper">
            
                <div class="projects">
            
                    {% for project in collections.projects %}
            
                    <a href="{{ project.url }}">
                        <div class="project-card">
                            <h3 class="card-title">{{ project.data.title }}</h3>
                            <img width="300px" height="200px" src="{{ project.data.img }}" alt="">  
                        </div>
                        
                    </a>
                    {% endfor %}
                </div>
            </section>
        </main>
        
    </div>


    
{% endblock %}