* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    border: none;
    background-color: transparent;
    list-style: none;
    font-style: none;
}

:root {
    --bee: #FFD55A;
    --leaf: #a3c560;
    --greenish: #53ac75;
    --lake: #0c8c81;
    --ocean: #176a77;
    --navy:#2f4858;

    --primary-color: var(--bee);
    --secondary-color: var(--leaf);
    --dark-primary-color: var(--navy);
    --dark-secondary-color: var(--ocean);
}


.title, .subtitle, .navbar  {    
    font-family: "Happy monkey", sans-serif;
    font-size: 140%;
}

.p ,h1, h2, h3, h4, h5, h6{
    font-family: 'Proza Libre', sans-serif;
}

a {
   font-style: normal; 
   color: black;
}

a:visited {
    color: black;
}

.navbar {
    /* display: flex;
    justify-content: space-between; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    /* padding: 0px 1.5em 0px; */
    background-color: var(--primary-color);

}

.navbar-link {
    padding: 0em 0.5em;
    margin: 1em;
}

.navbar-link:hover {
    transform:translateY(-8%);
    transition: translateY 300ms;
    transition-timing-function: ease;
}

.left {
    display: flex;
    justify-content: start;
    align-items: center;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.right {
    display: flex;
    justify-content: end;
    align-items: center;
}



.footerbar {
    display: flex;
    justify-content: space-between;
    padding: 1.5em;
    background-color: var(--dark-primary-color);
}


#face {
    transition: transform 300ms;
    transition-timing-function: ease-out;
    flex: 1 auto;
    max-width: 40%;
}


#face:hover {
    transform:scale(1.1);
    transition: transform 120ms;
    transition-timing-function: ease;    
}


.fa-arrow-down {
    font-size: 150%;
    transform:scale(1.5) ;
}

