/* Certain style rules are not strictly speaking needed for the current design, 
but are included to make sure that the elements fit with future rules.
I will mark these rules with "Future proofing" directly above, for the purpose of examination */

* {
    padding: 0px;
    margin: 0px;
    border: none;
    background-color: transparent;
    list-style: none;
    font-style: none;
}

:root {
    --bee: #FFD55A;
    --peach: #fde18d;
    --navy:#2f4858;
    
    --primary-color: var(--bee);
    --secondary-color: var(--peach);
    --dark-primary-color: var(--navy);
    
    font-family: 'Proza Libre', sans-serif;
}

html, body { 
    height: 100%;
}

body {
    background-color: var(--primary-color);
}

body > footer {
    position: sticky;
    top: 100vh;
  }

a {
    text-decoration: none;
    color: black;
}

a:visited {
    color: black;
}

@media screen and (max-width: 1000px) {
    .projects {
        grid-template-columns: repeat(2, 1fr);
    }   
}

@media screen and (max-width: 650px) {
    .projects {
        grid-template-columns: repeat(1, 1fr);
    }   
    .face-button {
        opacity: 0%;
    }
    .logo {
        font-size: 100%;
    }   
}

/* NAVBAR */
.navbar {
    font-family: "Happy monkey", sans-serif;
    font-size: 140%;

    background-color: var(--primary-color);
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    min-height: 110px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navbar .container {
    display: grid;
    grid-template-columns: auto minmax(0, 1fr) auto;
}

.left, .center, .right {
    display: flex;
    align-items: center;
}

.left {
    justify-content: start;
}

.center {
    justify-content: center;
}

.right {
    justify-content: end;
    flex-wrap: wrap;
}

.navbar-link {
    padding: 0.5em 1em;
    margin: 0 auto;
}

.logo {
    font-size: 140%;
    margin-left: 10px;
}

.flex-child:hover {
    transform:translateY(-8%);
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;   
}

#face {
    transition: transform 300ms;
    max-width: 40%;
}

#face:hover {
    transform:scale(1.1);
    transition: transform 120ms;
    transition-timing-function: ease;    
}

/* FOOTER */
.footerbar {
    margin-top: 7%;
    padding: 5%;
    flex-shrink: 1;
}

.footer-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    padding: 1em;
}

.hero {
    padding: 3%;
    
    display: flex;
    flex-direction: column;
    align-items: center;

    line-height: 1.8;
    font-size: 120%;
}

.fa-arrow-down {
    font-size: 150%;
    transform:scale(1.5) ;
}

/* PAGE LAYOUT */
.main-wrapper {
    display: grid;
    grid-template-columns: 1fr min(1100px, 100%) 1fr;
    flex: 1 0 auto;
}

.main-wrapper > * {
    grid-column: 2;
  }

.page-content {
    border-radius: 10px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;   
}

/* PROJECT SHOWCASE */
.projects {
    display: flex;
    flex-wrap: wrap;
    padding: 3%;
    justify-content: space-around;
}

.projects-wrapper {
    padding-top: 5%;
    padding-bottom: 3%;
    margin-bottom: 5%;
}

.card {
    display: flex;
    justify-content: center;
}

.project-card {
    margin: 4%;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;

    display: flex;
    flex-direction: column;
    align-items: center;

    border-radius: 5%;
    max-width: 300px;

    transition: transform 50ms;
    background-color: white;
}

.project-card:hover {
    transform: scale(1.1);
    transition: transform 50ms;
}

.card-title {
    margin: 5%;
    font-size: 180%;
}

.projects-header {
    text-align: center;
    margin: 25px;
    font-size: 180%;
}

/* DIVIDERS */
.divider.gray {
    border-top: 3px solid rgb(226, 226, 226);
    border-radius: 5px;
    margin: 0% 3%;
}

.divider.secondary-color {
    border-top: 7px solid var(--secondary-color);
    border-radius: 5px;
    margin: 0% 1%;
}

/* GREETING ON LANDING */
.greeting {
    font-size: 2em;
}

/* Underline for greeting */
strong {
    position: relative;
}

strong::after {
    content: "";
    position: absolute;
    z-index: -1;
    background-image: url("/img/underline-charcoal.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

/* Underline height, width */
h1 > strong::after {
    bottom: -0.2rem;
    height: 0.95rem;
    left: -0.25rem;
    right: -0.25rem;
}

/* ABOUT AND PROJECT PAGES */
.about-header {
    padding: 3%;
    padding-bottom: 0%;
    
    display: flex;
    flex-direction: column;
    align-items: center;

    line-height: 1.1;
    font-size: 120%;
}

.about-card  {
    margin-top: 3%;
    margin-bottom: -15px; 
    min-width: min(200px, 100%);
    padding: 1em;

    border-radius: 8px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    
    /* Future proofing */
    background-color: var(--primary-color);
}

.about {
    display: grid;
    grid-template-columns: 1fr min(500px, 100%) 1fr;
    padding: 7% 0%;
    /* Future proofing */
    position: relative;
}
.about > * {
    grid-column: 2;
}

.project-banner {
    margin-top: 15px;
    margin-bottom: -5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.project-banner img{
    max-width: 100%;
    /* Future proofing */
    max-height: 100%;
}

/* CONTACT PAGE */
.text-input {
    border-color: #2f4858;
    border-style: dotted;
}

.form-submit {
    background-color: var(--dark-primary-color);
    border-radius: 10px;
    padding: 1em 2em;
    transition: transform 300ms;
}

.form-submit input {
    color: white;
}

.form-submit:hover {
    transform: scale(1.2);
    transition: transform 200ms;
    transition-timing-function: ease;
}

.message-box {
    border-style: dotted;
    border-radius: 7px;
    border-color: black;
}

.contact-form-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.contact-form {
    grid-column: 2;
    max-width: 400px;
    text-align: center;
    padding: 40px;
}

.contact-form div{
    margin: 15px;
}

.input-text {
    border-style:dotted;
    border-radius: 5px;
}